<div class="todo">
    <div class="contenedorTitulo">
        <h1>Educación</h1>
        <img
            src="assets/img/yo.jpg"
            alt="Luis"
        >
    </div>
    <div class="contenedorNav ">
        <nav>
            <ul>
                <li>
                    <a class="nav-link" routerLink="/pantalla-inicio">Michi Luis</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/sobre-mi">About me</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Portafolio">Porfolio</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Educacion">Education</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Skills">Skills</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Contacto">Contact me</a>
                </li>
            </ul>
        </nav>
        </div>
        <div class="texto">
            <div class="titulo">
                <h2>
                    Universidad
                </h2>
            </div>
            <div class="parrafos">
                <p>
                   Por el momento estoy estudiando la carrera de ingeniería informática en el Instituto Tecnológico de Los Mochis 
                </p>
                    <div class="titulo">
                        <h2> Cursos que he tomado: </h2>
                    </div>
                    <div class="Curso1">
                        <h3>BATCH3</h3>
                        <p>BOOTCAMP WEB, FRONT END CON ANGULAR</p>
                        <p>Curso de 20 horas <a href="../../assets/img/Ruiz Alvarez Luis Carlos.pdf" id="botondelmal" class="btn btn-dark">Certificado</a>
                        </p>
                </div>
            </div>
        </div>
    </div>