<div class="todo">
    <div class="contenedorTitulo">
        <h1>Sobre mi</h1>
        <img
            src="assets/img/yo.jpg"
            alt="Luis"
        >
    </div>
    <div class="contenedorNav ">
        <nav>
            <ul>
                <li>
                    <a class="nav-link" routerLink="/pantalla-inicio">Michi Luis</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/sobre-mi">About me</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Portafolio">Porfolio</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Educacion">Education</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Skills">Skills</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Contacto">Contact me</a>
                </li>
            </ul>
        </nav>
    </div>