<div class="todo">
    <div class="contenedorTitulo">
        <h1>Contáctame</h1>
        <img
            src="assets/img/yo.jpg"
            alt="Luis"
        >
    </div>
    <div class="contenedorNav ">
        <nav>
            <ul>
                <li>
                    <a class="nav-link" routerLink="/pantalla-inicio">Michi Luis</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/sobre-mi">About me</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Portafolio">Porfolio</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Educacion">Education</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Skills">Skills</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Contacto">Contact me</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="texto">
        <div class="parrafos">
                <div class="E-mail"><p><i class="bi bi-envelope"> E-mail: </i> gatoelluis&#64;gmail.com </p></div>
                <div class="Whatsapp"><p><i class="bi bi-whatsapp"> Whatsapp: </i> +52 6681966760</p></div>
                <div class="Linkedin"><p><i class="bi bi-linkedin"> Linkedin: </i><a href="https://www.linkedin.com/in/luis-carlos-ruiz-alvarez-64b623204/"> in/luis-carlos-ruiz</a> </p></div>             
                <div class="titulo">
                    <h2>Esta página está programada en </h2>
                </div>
                <button id="HTML5"><img src="../../assets/img/html.png" > HTML5</button>
                <button id="CSS"><img src="../../assets/img/css.png" > CSS</button>
                <button id="Angular"><img src="../../assets/img/Angular.png" > Angular</button>
        </div>
    </div>
</div>