<div class="todo">
    <div class="contenedorTitulo">
        <h1>Sobre mi</h1>
        <img
            src="assets/img/yo.jpg"
            alt="Luis"
        >
    </div>
    <div class="contenedorNav ">
        <nav>
            <ul>
                <li>
                    <a class="nav-link" routerLink="/pantalla-inicio">Michi Luis</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/sobre-mi">About me</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Portafolio">Porfolio</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Educacion">Education</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Skills">Skills</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Contacto">Contact me</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="texto">
        <div class="titulo">
            <h2>
                Soy Luis Carlos Ruiz Alvarez
            </h2>
        </div>
        <div class="parrafos">
            <p>
                Soy un apasionado desarrollador de software con una dedicación implacable por transformar ideas en código. 
                Desde una edad temprana, descubrí mi fascinación por la tecnología y su capacidad para resolver problemas de manera creativa. Esta fascinación me llevó a sumergirme en el mundo del desarrollo de software, donde descubrí mi verdadera pasión.</p>
                <div class="titulo">
                    <h2>Por el momento estudio y busco empezar en el campo laboral del desarrollo web </h2>
                </div>
                <ul>
                    <li>Me apasiona aprender continuamente y estar al tanto de las últimas tendencias y tecnologías en el mundo del desarrollo de software.
                    </li>
                    <li>Creo firmemente en el poder de la programación para impulsar el cambio positivo en el mundo y estoy comprometido a utilizar mis habilidades para contribuir a soluciones innovadoras y significativas.
                    </li>
                </ul>
        </div>
    </div>
</div>