<div class="todo">
    <div class="contenedorTitulo">
        <h1>Portafolio</h1>
        <img
            src="assets/img/yo.jpg"
            alt="Luis"
        >
    </div>
    <div class="contenedorNav ">
        <nav>
            <ul>
                <li>
                    <a class="nav-link" routerLink="/pantalla-inicio">Michi Luis</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/sobre-mi">About me</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Portafolio">Porfolio</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Educacion">Education</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Skills">Skills</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/Contacto">Contact me</a>
                </li>
            </ul>
        </nav>
        </div>
        <div class="contenedorCards">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/ProyectosMichis.jpg" class="card-img-top" alt="proyectoMichis">
                <div class="card-body">
                    <h5>MichiLikes</h5>
                  <p class="card-text">Proyecto hecho el 28/02/2024 usando la API TheCatAPI <br>
                    <button id="HTML5"><img src="../../assets/img/html.png" > HTML5</button>
                    <button id="CSS"><img src="../../assets/img/css.png" > CSS</button>
                    <button id="JS"><img src="../../assets/img/js.png"> JS</button>
                  </p>
                  
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" alt="ProyectoMaps">
                <div class="card-body">
                    <h5>Lista de usuarios con su ubicación</h5>
                  <p class="card-text"> Proyecto hecho el 01/03/2024 para el bootcamp Front end con angular por parte de Fragmento
                    <button id="HTML5"><img src="../../assets/img/html.png" > HTML5</button>
                    <button id="CSS"><img src="../../assets/img/css.png" > CSS</button>
                    <button id="JS"><img src="../../assets/img/js.png"> JS</button>

                  </p>
                </div>
              </div>
    </div>